<div>
    <h2 id="page-heading">
        <span>App Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-app-type" [routerLink]="['/app-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new App Type
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="appTypes?.length === 0">
        <span>No appTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="appTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Type</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let appType of appTypes ;trackBy: trackId">
                <td><a [routerLink]="['/app-type', appType.id, 'view' ]">{{appType.id}}</a></td>
                <td>{{appType.type}}</td>
                <td>{{appType.name}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/app-type', appType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/app-type', appType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(appType)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
